/* font */

@font-face {
    font-family: 'IAMAPLAYER';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'intelone-mono-font-family-regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2')
        format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IAMAPLAYER', 'intelone-mono-font-family-regular';
}
*::before,
*::after {
    padding: 0;
    margin: 0;
}

:root {
    --pink: #ff74a4;
    --violet: #9f6ea3;
    --lightBlack: #515c6f;
    --white: #ffffff;
    --darkWhite: #cecaca;
    --pinkShadow: #ffcbdd;
    --lightShadow: rgba(0, 0, 0, 0.15);
}
