/* font */

@font-face {
    font-family: 'IAMAPLAYER';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* ************************************************************************************ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,
*::after {
    padding: 0;
    margin: 0;
}

:root {
    --pink: #ff74a4;
    --violet: #9f6ea3;
    --lightBlack: #515c6f;
    --white: #ffffff;
    --darkWhite: #cecaca;
    --pinkShadow: #ffcbdd;
    --lightShadow: rgba(0, 0, 0, 0.15);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.wrapper {
    width: 380px;
    min-height: 630px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    padding: 25px 30px;
    background: var(--white);
    box-shadow: 0px 6px 15px var(--lightShadow);
}
.wrapper i {
    cursor: pointer;
}
.top-bar,
.progress-area .timer,
.controls,
.music-list .header,
.music-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-bar i {
    font-size: 30px;
    color: var(--lightBlack);
}
.top-bar span {
    font-size: 18px;
    font-family: 'IAMAPLAYER';
    color: var(--lightBlack);
}
.img-area {
    height: 280px;
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 6px 12px var(--lightShadow);
}
.img-area img {
    height: 100%;
    width: 100%;
}

.song-details {
    text-align: center;
    margin: 30px 0;
    color: var(--lightBlack);
}
.song-details .name {
    font-size: 21px;
    font-family: 'HakgyoansimWoojuR';
    font-weight: 600;
    min-height: 45px;
}

.song-details .artist {
    margin-top: 5px;
    font-size: 18px;
    font-family: 'HakgyoansimWoojuR';
    font-weight: 500;
    opacity: 0.9;
}

.progress-area {
    height: 6px;
    width: 100%;
    border-radius: 50px;
    cursor: pointer;
    background: #f0f0f0;
}
.progress-area .progress-bar {
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg, var(--pink) 0%, var(--violet) 100%);
}
.progress-bar::before {
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    background: #000;
    border-radius: inherit;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    background: inherit;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.progress-area:hover .progress-bar::before {
    opacity: 1;
}
.progress-area .timer {
    margin-top: 2px;
}
.timer span {
    font-size: 14px;
    font-family: 'IAMAPLAYER';
    color: var(--lightBlack);
}
.controls {
    margin: 40px 0 5px 0;
}
.controls i {
    font-size: 28px;
    user-select: none;
    background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.controls i:nth-child(2),
.controls i:nth-child(4) {
    font-size: 43px;
}
.controls #prev {
    margin-right: -13px;
}
.controls #next {
    margin-left: -13px;
}
.controls .play-pause {
    height: 54px;
    width: 54px;
    background: linear-gradient(var(--white) 0%, var(--darkWhite) 100%);
    box-shadow: 0px 0px 5px var(--pink);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-pause::before {
    content: '';
    height: 43px;
    width: 43px;
    border-radius: inherit;
    position: absolute;
    background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
}
.play-pause i {
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    border-radius: inherit;
    background-clip: text;
    background: inherit;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.music-list {
    position: absolute;
    left: 0;
    bottom: -55%;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    padding: 15px 30px;
    border-radius: 15px;
    background: var(--white);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.14s ease-out;
}
.music-list.show {
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}
.music-list .header .row {
    display: flex;
    align-items: center;
    font-size: 19px;
    color: var(--lightBlack);
}
.header .row i {
    cursor: default;
}
.header .row span {
    margin-left: 5px;
    font-family: 'IAMAPLAYER';
}
.header #close {
    font-size: 22px;
    color: var(--lightBlack);
}
.music-list ul {
    margin: 10px 0;
    max-height: 260px;
    overflow-y: auto;
}
.music-list ul::-webkit-scrollbar {
    width: 0px;
}
.music-list ul li {
    cursor: pointer;
    list-style: none;
    padding-bottom: 15px;
    margin-bottom: 5px;
    color: var(--lightBlack);
    font-family: 'HakgyoansimWoojuR';
    border-bottom: 1px solid #e5e5e5;
}
.music-list ul li:last-child {
    border-bottom: 0px;
}
.music-list ul li .row span {
    font-size: 17px;
}
ul li .row p {
    margin-top: 10px;
    opacity: 0.9;
}
ul li .audio-duration {
    font-size: 16px;
    font-family: 'IAMAPLAYER';
}
